{% extends "template.html" %}    

{% block title %}StressChill{% endblock %}

{% block content %}
    <div class="span-12">
        <p><strong>StressChill</strong> is a <a href="http://participatorysensing.org/">participatory sensing</a> campaign geared towards identifying, describing and <a href="/map">mapping</a> the things you find stressing or relaxing in the places you spend your time everyday.</p>

        <p>With this <a href="/clients">Android application</a> you can view a <a href="/map">map</a> of the things participants find affect them as well as upload your own observations.</p>

        <p>The goal of this application is to map the things in your environment that you think need attension or to share the places you find relaxing with everyone else.</p>

    </div>

    <div style="position:absolute; left:580px; top:200px;">
        <img src="/images/drinking-water.png"/>
    </div>
{% endblock %}
