{% extends "template.html" %}

{% block title %}StressChill - Summary{% endblock %}

{% block content %}
	<div class="span-24 last">
		<p>
		<!--		<a href="/data_download_all.csv">Download All Data (.csv)</a>-->
		</p>

		<div class="span-11 colborder">
			<!--{{summary}}-->
			<!--{{summary.items}}-->
{% for s in summary %}
			<table>
				<caption>
					<i>
						<!--{{s}}-->
						<!--{{r}}-->
						<!--{{s.category}}-->
						<!--{{s.count}}-->
						<!--{{s.average}}-->
						<strong>Category:</strong> {{s.category}}<br/>
						<strong>Count:</strong> {{s.count}}<br/>
						<strong>Average</strong> {{s.average}}<br/>
					</i>
				</caption>

				<thead>
					<tr>
						<th class="span-4">SubCategory</th>
						<th class="span-3">Count</th>
						<th class="span-4 last">Average</th>
					</tr>
				</thead>
				<tbody>
{% 	for sub in s.subcatlist %}
						<!--{{sub}}-->
						<!--{{sub.subcategory}}-->
					<tr>
						<td class="span-4">{{sub.subcategory}}</td>
						<td class="span-3">{{sub.count}}</td>
						<td class="span-4 last">{{sub.average}}</td>
					</tr>
{% 	endfor %}
				</tbody>
			</table>
			<hr />
			<br />
{% endfor %}
		</div>
		<div class="span-12 last">
			&nbsp;
		</div>
	

	</div>
{% endblock%}
