<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head> 
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/> 
	<title>{% block title %}{% endblock %}</title>

	<link href="/css/main.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print">
	<!--[if lt IE 8]><link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
	{% block includes %}{% endblock %}

	<script type="text/javascript">
	{% block javascript %}{% endblock %}
	</script>
</head>

<body {% block onload%}{% endblock %} {% block onunload %}{% endblock %}>
	<div class="container">
		<div class="span-14">
			<h1>StressChill</h1>
		</div>
		<div class="span-10 last">
			{% if username %}
				<div class="span-7">
					You are currently logged in as <b>{{username}}</b>
				</div>
				<div class="span-3 last">
					<a href="/user/logout">Logout</a>
				</div>
			{% else %}
			<div class="span-10 last">
				<form action="/user/confirmlogin" method="post">
					<div class="span-4">
						<input type="text" name="username" value=" username " onfocus="if(this.value==' username '){this.value='';}">
					</div>
					<div class="span-4">
						<input type="password" name="password" value="password" onfocus="if(this.value=='password'){this.value='';}">
					</div>
					<div class="span-2 last">
						<input type="submit" value="Login">
					</div>
				</form>
				<div class="span-10 last">
					<a href="/create_user">Sign up</a>
				</div>
			</div>
			{% endif %}
		</div>
		
		<hr />
		<div class="span-3 colborder center {% if home %}selected{% endif %}">
			<a href="/">Home</a>
		</div>
		<div class="span-3 colborder center {% if about %}selected{% endif %}">
			<a href="/about">About</a>
		</div>
		<div class="span-3 colborder center {% if client %}selected{% endif %}">
			<a href="/clients">Android Client</a>
		</div>
		<div class="span-3 colborder center {% if map %}selected{% endif %}">
			<a href="/map">Map</a>
		</div>
		<div class="span-3 colborder center {% if data %}selected{% endif %}">
			<a href="/data">Data</a>
		</div>
		<div class="span-4 last center {% if datasummary %}selected{% endif %}">
			<a href="/summary">Summary</a>
		</div>
		{% if username %}
		<hr />
		<div class="span-3 colborder center {% if userdata %}selected{% endif %}">
			<a href="/user/data">User Data</a>
		</div>
		<div class="span-3 colborder center {% if usermap %}selected{% endif %}">
			<a href="/user/map">User Map</a>
		</div>
		<div class="span-16 last">
			&nbsp;
		</div>
		{% endif %}

		<hr />
		{% if error %}
		<div class='span-23 error last'>{{error}}</div>
		{% endif %}
		{% if success %}
		<div class='span-23 success last'>{{success}}</div>
		{% endif %}
		{% block content %}{% endblock %}
	</div>
</body>

</html>
